{% extends 'base.html' %} {% block home_page %}

<div class="row">
    <div class="col-sm-12 jumbotron jumbotron-fluid main-jumbo">

        <div class="jumbotron1 jumbotron1-768 col-sm-10 col-sm-offset-1">
            <p class="p-jumbotron p-jumbotron1">WELCOME TO</p>
            <p class="p-jumbotron p-jumbotron1">SPA RESIDENCE</p>
            <p class="p-jumbotron p-jumbotron3">get transported to a magical world of relaxing</p>
        </div>

    </div>
</div>


<div id="home-page-container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="h2">Seek Balance at Our Luxury Spa</h2>
        </div>
        <div class="col-sm-12 col-md-5 col-md-offset-1 gap_section">
            <h5 class="h5">WHERE BEATY MEETS RELAXATION</h5>
            <p class="p">Harmony Spa Salon - an award-winning selection of massage treats featuring the Tension Tamer Massage, Tranquility and Revitalizing Massage and our traditional Swedish and Deep Tissue Massage all with the luxury of warm towel compresses and
                warm basalt stones with every service. Our state of the art Organic Jurlique Facials feature the purest ingredients on earth with a dedication to pure, organic, naturally derived ingredients from the Jurlique farm in Australia. We look
                forward to leading you on your journey to relaxation, restoration, and total body wellness. Harmony Spa Salon the ultimate in spa luxury.
            </p>
        </div>
        <div class="col-sm-10 col-sm-offset-1 col-md-5">
            <img src="https://anna-django-shop.s3-eu-west-1.amazonaws.com/static/img/sunday-spa-break.jpg" class="img-size img-size2">
        </div>
    </div>

    <div class="row row-reverse">
        <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1">
            <img src="https://anna-django-shop.s3-eu-west-1.amazonaws.com/static/img/healingwellmassage.jpg" class="img-size ">
        </div>
        <div class="col-sm-12 col-md-5 gap_section">
            <h5 class="h5">
                All Body MASSAGE
            </h5>
            <p class="p">

                Full body Relaxing Massage involves working and acting on the body with pressure – structured, unstructured, stationary, or moving – tension, motion, or vibration, done manually or with mechanical aids. Massage can be applied with the hands, fingers,
                elbows, knees, forearm, feet, or a massage device. Depending on the application and technique used, massage is used to promote relaxation and well-being and is beneficial in treating sports injuries and other problems affecting the musculature
                of the body such as postural misalignment and many painful conditions.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-5 col-md-offset-1 gap_section">
            <h5 class="h5">
                FACE FORWARD TREATMENT
            </h5>
            <p class="p">
                The face is a person's window to the world. Facial skin must, therefore, be pampered, nurtured and adored. The Spa's menu of facial treatments is designed to ensure guests radiate calm and contentment the moment they step back into the real world again…
                Each facial is customized for every client's skin type, condition, and needs. A highly skilled skincare technician will exclusively select the latest product formulas and methods to make your skin come alive - radiant, rehydrated, restored,
                beautifully toned and balanced.
            </p>
        </div>

        <div class="col-sm-10 col-sm-offset-1 col-md-5">
            <img src="https://anna-django-shop.s3-eu-west-1.amazonaws.com/static/img/face_massage2.jpg" class="img-size img-size1 ">
        </div>

    </div>


    <div class="row">
        <div class="col section-header">
            <p class="p_subhead"> It’s time to spoil yourself from head to toe</p>

        </div>
    </div>
</div>


{% endblock %}