{% extends 'base.html' %}


{% block content %}
<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12 col-md-6 col-xl-offset-1 col-xl-10  display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <table class="table">
                    <tr>
                        <td colspan="1">PRICE</td>
                        <td colspan="2">€ {{ product.price }}</td>
                    </tr>
                </table>

                <form method="post" action="{% url 'add_to_cart' product.id %}" class="add_to_cart_form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="20" class="form-control" placeholder="Quantity" required>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">Add To Cart</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}